[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/varbase64EncodeChars.txt]
row=15
col=0

[/home/heimdal/Desktop/notes.md]
row=16
col=0

[/home/heimdal/Desktop/mitm-new-approach.mp3]
row=13
col=0

[/home/heimdal/Desktop/kitty-keybindings.txt]
row=14
col=0

[/home/heimdal/Desktop/tts-mitm.txt]
row=12
col=0

[/home/heimdal/Desktop/arduino-ide]
row=0
col=0

[Trash]
row=1
col=0

[/home/heimdal]
row=17
col=0

