[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/wallpapers]
row=0
col=0

[/home/heimdal/Desktop/mitm-new-approach.mp3]
row=5
col=1

[/home/heimdal/Desktop/notes.md]
row=4
col=1

[/home/heimdal/Desktop/kitty-keybindings.txt]
row=6
col=1

[/home/heimdal/Desktop/tor-browser]
row=2
col=0

[/home/heimdal/Desktop/01053.txt]
row=9
col=1

[/home/heimdal/Desktop/backup-31122023.sd.tar.gz]
row=8
col=1

[/home/heimdal/Desktop/varbase64EncodeChars.txt]
row=1
col=1

[/home/heimdal/Desktop/Videos]
row=1
col=0

[/home/heimdal/Desktop/tts-mitm.txt]
row=2
col=1

[/home/heimdal/Desktop/code]
row=4
col=0

[/home/heimdal/Desktop/arduino-ide]
row=5
col=0

[/home/heimdal/Desktop/INSTRUCIONES-XDG-PARA-MOVER-LOSARCHIVOS-DE-CONF.txt]
row=7
col=1

[/home/heimdal/Desktop/python3 x86 64 python.txt]
row=3
col=1

[/home/heimdal/Desktop/cracking]
row=3
col=0

[c09cfc9a-0e9c-4512-afa7-16d3f0ce3ca8]
row=7
col=0

[Trash]
row=8
col=0

[/home/heimdal]
row=9
col=0

