[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/varbase64EncodeChars.txt]
row=11
col=0

[/home/heimdal/Desktop/notes.md]
row=9
col=0

[/home/heimdal/Desktop/mitm-new-approach.mp3]
row=8
col=0

[/home/heimdal/Desktop/kitty-keybindings.txt]
row=7
col=0

[/home/heimdal/Desktop/tts-mitm.txt]
row=10
col=0

[/home/heimdal/Desktop/arduino-ide]
row=6
col=0

[Trash]
row=5
col=0

[/home/heimdal]
row=4
col=0

