[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/mitm-new-approach.mp3]
row=5
col=2

[/home/heimdal/Desktop/kitty-keybindings.txt]
row=6
col=2

[/home/heimdal/Desktop/Obsidian Vault]
row=0
col=1

[/home/heimdal/Desktop/tor-browser]
row=6
col=0

[/home/heimdal/Desktop/WallPapers]
row=7
col=0

[/home/heimdal/Desktop/notes.md]
row=4
col=2

[/home/heimdal/Desktop/themeing]
row=5
col=0

[/home/heimdal/Desktop/varbase64EncodeChars.txt]
row=2
col=2

[/home/heimdal/Desktop/git-repos]
row=1
col=1

[/home/heimdal/Desktop/tts-mitm.txt]
row=3
col=2

[/home/heimdal/Desktop/code]
row=2
col=1

[/home/heimdal/Desktop/arduino-ide]
row=4
col=1

[/home/heimdal/Desktop/INSTRUCIONES-XDG-PARA-MOVER-LOSARCHIVOS-DE-CONF.txt]
row=7
col=2

[/home/heimdal/Desktop/bookshelf]
row=3
col=1

[4E21-0000]
row=6
col=1

[3F32-27F5]
row=5
col=1

[c09cfc9a-0e9c-4512-afa7-16d3f0ce3ca8]
row=3
col=0

[Trash]
row=2
col=0

[/home/heimdal]
row=1
col=0

