[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/arduino-ide]
row=12
col=0

[/home/heimdal/Desktop/notes.md]
row=11
col=1

[/home/heimdal/Desktop/uuids.txt]
row=14
col=0

[/home/heimdal/Desktop/kitty-keybindings.txt]
row=13
col=0

[/home/heimdal/Desktop/mitm-new-approach.mp3]
row=10
col=0

[/home/heimdal/Desktop/tts-mitm.txt]
row=10
col=1

[Trash]
row=9
col=0

[/]
row=11
col=0

[/home/heimdal]
row=15
col=0

